*{
    padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-shadow: none;
}
    
body{
    background-color: white;
    
}

body p{
    font-size: 16px;
}
.site{
    border: 1px solid black;
}

header{
    background-color: #151617;
    background-image: linear-gradient(#151617, #353637);
}


nav li {
    display: inline;
    float:left;
}


aside{
    background-image: linear-gradient(#e8e8e8, white);
}

aside li {
    list-style: none;
}

.sec{
    border: 1px solid red;
}

.hide {
    display: none;
}

.info img{
    border: 6px solid #e9e9e9;
    margin-top: 1em;
    width: 50%;
    height: 50%;
}

.spons td{
    border: 3px solid black;  
} 
