*{
    padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-shadow: none;
}
    
body{
    background-image: linear-gradient(#012f5a, white);
    
}

body p{
    font-size: 16px;
}
.site{
    border: 1px solid black;
}

header{
    background-color: #151617;
    background-image: linear-gradient(#151617, #353637);
}


nav li {
    display: inline;
    
}


aside{
    background-image: linear-gradient(#e8e8e8, white);
}

aside li {
    list-style: none;
}

.sec{
    border: 1px solid red;
}

.hide {
    display: none;
}

.spons td{
    border: 10px solid #f6f6f6;  
    width: 10%;
    height: auto;
    background-color: white;
    margin-right: 1%;

} 


footer{
    background-color: #0a0a0a;
}