*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-shadow: none;
}

body{
    background-image: linear-gradient(#012f5a, white);
 
}

body p{
    font-size: 16px;
}

.georgia { 
	font-family: "Georgia","Times","Times New Roman",serif; 
}
.garamond { 
	font-family: "Garamond","Baskerville","Baskerville", "Old Face","Hoefler Text","Times New Roman",serif; 
}

.site{
    border: 1px solid black;
    background-color: white;
}

h1{
    margin-top: 0;
    padding-top: 0;
}

header{
    background-color: #151617;
    background-image: linear-gradient(#151617, #353637);
    padding-top: 1em;
    padding-bottom: 1em;
}

.highlight {
    background-color: #fff34d;
    -moz-border-radius: 5px; /* FF1+ */
    -webkit-border-radius: 5px; /* Saf3-4 */
    border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* FF3.5+ */
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Saf3.0+, Chrome */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Opera 10.5+, IE 9.0 */
}

.highlight {
    padding:1px 4px;
    margin:0 -4px;
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  
  /* Style the form icons */
  .icon {
    padding: 10px;
    background: white;
  
    text-align: center;
  }

header h1, span{
    color:white;
    margin: 0;
}

header span{
    letter-spacing: 2.9px;
}

nav{
    margin-top: 1em;
}

nav li {
    display: inline;
    padding: 0% 2%;
}

nav a{
    color: white;
}
nav a:hover{
    text-decoration: none;
}

.search{
    margin-right: 4%;
    border-radius: 15px;
}

.slider{
    height: auto;
    width: 100%;
}





.quote{
    background-color: #111213;
}

.quote p{
    color: #a3a3a3;
    font-size: 30px;
}
.fa {
    padding: 18px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
  }
.quote a{
    padding-left:1%;
    padding-right: 1%;
    padding-top: 4%;
}



.fa-facebook {
    background: #303234;
    color: white;
  }
  
  .fa-twitter {
    background: #303234;
    color: white;
  }

.fa-rss {
    background: #303234;
    color: white;
}

.fa-pinterest {
    background: #303234;
    color: white;
}
  

.fa-google {
    background: #303234;
    color: white;
}


section{
    padding-top: 2em;
}

section span{
    color: black;
}

section h3{
    margin-top: 0;
    margin-bottom: 0;
}

section p{
    font-size: 13px;
    margin-bottom: 0;
}

section button{
    margin-top: 16px;
}

.date{
    font-size: 10px;
    color: #2c83b0;
    padding-bottom: 5%;
}

section article img{
    border: 10px solid #e9e9e9;

}

.info{
    margin-left: 3%;
}



aside{
    background-image: linear-gradient(#e8e8e8, white);
}
aside h3{
    font-size: 25px;
}

aside li {
    list-style: none;
}

aside a{
    color: #2c83b0;
}

aside p{
    font-size: 13px;
}
.hide {
    display: none;
}


.spons td{
    background-color: white;
} 

.spons td img{
    border: 10px solid #f6f6f6;
    margin-right: 1%;
    margin-bottom: 10%;
}

.indhold h1{
    padding-left: 29px;
}


footer{
    background-color: #0a0a0a;
    padding-bottom: 73px;
}

footer h3{
    color: white;
}

footer p{
    color: #686868;
    font-size: 16px;
}
footer span{
    color: #a3a3a3;
}

footer h4{
    color: #a3a3a3;
}

footer img{
    padding-bottom: 1%;
}

.logo a{
    padding-left:1%;
    padding-right: 1%;
    padding-top: 4%;

}

.contact{
    padding-left: 9%;
}

.contact h4{
    margin: 0;
}
  
