*{
    padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-shadow: none;
}
    
body{
    background-color: white;
    
}

body p{
    font-size: 16px;
}
.site{
    border: 1px solid black;
}



nav li {
    display: inline;
}


aside{
    background-image: linear-gradient(#e8e8e8, white);
}

aside li {
    list-style: none;
}

.sec{
    border: 1px solid red;
}

.hide {
    display: none;
}

.info img{
    border: 6px solid #e9e9e9;
    margin-top: 1em;
}
