*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-shadow: none;
}

body{
    background-image: linear-gradient(#012f5a, white);
    
}

body p{
    font-size: 16px;
}
.site{
    border: 1px solid black;
    background-color: white;
}

h1{
    margin-top: o;
    padding-top: 0;
}

header{
    background-color: #151617;
    background-image: linear-gradient(#151617, #353637);
    padding-top: 1em;
    padding-bottom: 1em;
}


header h1, span{
    color:white;
    margin: 0;
}

header span{
    letter-spacing: 2.9px;
}

nav{
    margin-top: 1em;
}

nav li {
    display: inline;
    padding: 0% 2%;
}

nav a{
    color: white;
}
nav a:hover{
    text-decoration: none;
}

.search{
    margin-right: 4%;
    border-radius: 15px;
}

.slider{
    height: auto;
    width: 100%;
}

section{
    padding-top: 2em;
}

section span{
    color: black;
}


.quote{
    background-color: #111213;
}

.quote p{
    color: #a3a3a3;
    font-size: 30px;
    padding: 0;
    margin: 0;
}
.fa {
    padding: 18px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
  }


.fa-facebook {
    background: #303234;
    color: white;
  }
  
  .fa-twitter {
    background: #303234;
    color: white;
  }

.fa-rss {
    background: #303234;
    color: white;
}

.fa-pinterest {
    background: #303234;
    color: white;
}
  

.fa-google {
    background: #303234;
    color: white;
}

aside{
    background-image: linear-gradient(#e8e8e8, white);
}

aside li {
    list-style: none;
}

.hide {
    display: none;
}


.spons td{
    background-color: white;
} 

.spons td img{
    border: 10px solid #f6f6f6;
    margin-right: 1%;
    margin-bottom: 10%;
}




footer{
    background-color: #0a0a0a;
    padding-bottom: 73px;
}

footer h3{
    color: white;
}

footer p{
    color: #686868;
    font-size: 16px;
}
footer span{
    color: #a3a3a3;
}

footer h4{
    color: #a3a3a3;
}

footer img{
    padding-bottom: 1%;
}