*{
    padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-shadow: none;
}
    
body{
    background-image: linear-gradient(#012f5a, white);
    
}

body p{
    font-size: 16px;
}
.site{
    border: 1px solid black;
    background-color: white;
}

header{
    background-color: #151617;
    background-image: linear-gradient(#151617, #353637);
    padding-top: 1em;
}

header h1, p{
    color:white;
    margin: 0;
}
nav{
    margin-top: 1em;
}

nav li {
    display: inline;
    padding: 0% 2%;
}

.search{
    margin-right: 4%;
    border-radius: 15px;
}

aside{
    background-image: linear-gradient(#e8e8e8, white);
}

aside li {
    list-style: none;
}



.hide {
    display: none;
}

.spons td{
    border: 10px solid #f6f6f6;  
    width: 10%;
    height: auto;
    background-color: white;


} 


footer{
    background-color: #0a0a0a;
}