*{
    padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-shadow: none;
}
    
body{
    background-image: linear-gradient(#012f5a, white);
    
}

body p{
    font-size: 16px;
}
.site{
    border: 1px solid black;
    background-color: white;
}

header{
    background-color: #151617;
    background-image: linear-gradient(#151617, #353637);
    padding-top: 1em;
    padding-bottom: 1em;
}


header h1, span{
    color:white;
    margin: 0;
}

header span{
    letter-spacing: 2.9px;
}

nav{
    margin-top: 1em;
}

nav li {
    display: inline;
    padding: 0% 2%;
}

nav a{
    color: white;
}
nav a:hover{
    text-decoration: none;
}

.search{
    margin-right: 4%;
    border-radius: 15px;
}

aside{
    background-image: linear-gradient(#e8e8e8, white);
}

aside li {
    list-style: none;
}

.hide {
    display: none;
}

.spons td{
    background-color: white;
} 

.spons td img{
    border: 10px solid #f6f6f6;
    margin-right: 1%;
    margin-bottom: 10%;
}



footer{
    background-color: #0a0a0a;
}

footer h3{
    color: white;
}

footer p{
    color: #686868;
    font-size: 16px;
}
footer span, h4{
    color: #a3a3a3;
}





footer img{
    padding-bottom: 1%;
}